h1 {
    display: flex;
    color: #1e6575;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
}

.sidebar {
    width: 25%;
}

.content {
    width: 75%;
    padding: 20px;
}
